html {
    font-family: helvetica, serif;
    color: white;
}
html, body {
   position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #ACECE1 0%, #F9F9F9 43.75%, #F9F9F9 59.37%, #F7DBF0 100%);

    
}

.material-icon{
    position: absolute;
left: 3.19%;
right: 91.53%;
top: 8.4%;
bottom: 86.04%;

background: #025D76;
transform: matrix(1, 0, 0, -1, 0, 0);
}

.four{
    position: absolute;
        width: 550px;
        height: 61px;
        left: 25px;
        top: 863px;
            
        background: #B5EAEA;
        border-radius: 15px;
}
.text1{
    position: absolute;
    width: 563px;
    height: 52px;
    left: 38px;
    top: 863px;

    font-family: Caudex;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */
    color: #0E4858;
}
.five{
    position: absolute;
    width: 255px;
    height: 55px;
    left: 645px;
    top: 866px;

    background: #B5EAEA;
    border-radius: 15px;
}
.text2{
    position: absolute;
    width: 169px;
    height: 52px;
    left: 683px;
    top: 863px;

    font-family: Caudex;
    font-size: 40px;
    line-height: 52px;
    text-align: center;

    color: #0E4858;
}
.six{
    position: absolute;
    width: 260px;
    height: 58px;
    left: 975px;
    top: 866px;

    background: #B5EAEA;
    border-radius: 15px;
}
.text3{
    position: absolute;
    width: 228px;
    height: 52px;
    left: 985px;
    top: 866px;

    font-family: Caudex;
    font-size: 40px;
    line-height: 52px;
    text-align: center;

    color: #0E4858;
}
.a1{
    position: absolute;
    width: 1440px;
    height: 124px;
    left: 0px;
    top: 0px;

    background: hsl(180, 61%, 76%);
}
.a2{
    position: absolute;
    width: 1440px;
    height: 108px;
    left: calc(50% - 1440px/2);
    top: calc(50% - 108px/2 - 458px);

    font-family:Clicker Script;
    font-style: Clicker Script;
    font-weight: normal;
    font-size: 80px;
    line-height: 106px;
    text-align: center;

    color: #025D76;

    border: 1.2px solid #025D76;
}
.a3{
    position: absolute;
    left: 84.79%;
    right: 10.49%;
    top: 2.83%;
    bottom: 90.23%;
    height: 80px;
    width: 90px;

    background: #025D76;
}

